/* HERO HEADER */
.hero-header,
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.title {
  margin: auto;
}

.title h1 {
  backdrop-filter: invert(80%);
  padding: 20px 70px;
  border: solid 2px var(--color-white);
}
.title h2 {
  font-weight: 400;
  color: var(--color-white);
}

.cover-img {
  background-image: url("/Echoforge/imgs/cover-album-new.png");
  background-position: center;
  background-size: cover;
}

/* HEADER & NAV */
.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav {
  display: flex;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: var(--color-accent2);
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  transition: all 0.5s ease;
  letter-spacing: 0.1rem;
  &:hover {
    transition: all 0.5s ease;
  }
}

.nav_close,
.nav_toggle {
  display: flex;
  color: var(--color-white);
  cursor: pointer;
  font-size: 2rem;
  margin: 15px 15px 15px auto;
}

/* Nav for mobile devices */
@media screen and (max-width: 1200px) {
  .nav_menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--color-accent2);
    width: 50%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4s;
  }
  .nav_item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform 0.4s ease-out, visibility 0.4s;
  }

  .nav_item:nth-child(1) {
    transition-delay: 0.1s;
  }
  .nav_item:nth-child(2) {
    transition-delay: 0.2s;
  }
  .nav_item:nth-child(3) {
    transition-delay: 0.3s;
  }
  .nav_item:nth-child(4) {
    transition-delay: 0.4s;
  }
  .nav_item:nth-child(5) {
    transition-delay: 0.5s;
  }
}

.nav_list,
.nav_social {
  display: flex;
  align-items: center;
  color: var(--color-white);
}

.nav_list {
  flex-direction: column;
  row-gap: 3rem;
}

.nav_link {
  position: relative;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  transition: opacity 0.4s;
}

.nav_link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.nav_link span {
  position: relative;
  transition: margin 0.4s;
}

.nav_link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--color-white);
  transition: width 0.4s ease-out;
}

/* Animation link on hover */
.nav_link:hover span {
  margin-left: 2.5rem;
}

.nav_link:hover i {
  opacity: 1;
  visibility: visible;
}

.nav_link:hover span::after {
  width: 100%;
}

/* Sibling fade animation */
.nav_list:has(.nav_link:hover) .nav_link:not(:hover) {
  opacity: 0.4;
}

.nav_close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav_social {
  column-gap: 1rem;
}

.nav_social-link {
  color: var(--color-white);
  font-size: 1.5rem;
  transition: transform 0.4s;
}

.nav_social-link:hover {
  transform: translateY(-0.25rem);
  opacity: 0.7;
  text-decoration: underline;
}

/* Show menu */
.show-menu {
  left: 0;
}

/* Animation link when displaying menu */
.show-menu .nav_item {
  visibility: visible;
  transform: translateX(0);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 1200px) {
  .nav {
    height: calc(3.5rem + 2rem);
  }

  .nav_toggle,
  .nav_close {
    display: none;
  }

  .nav_link {
    font-size: 0.938rem;
  }

  .nav_link i {
    font-size: 1.5rem;
  }

  .nav_list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav_social {
    margin: 0 50px;
  }
}

/* ABOUT SECTION */
.about-img {
  height: 35rem;
  transform: translate(-10em, 0%);
}

.about-container {
  width: 30rem;
  border: 2px solid var(--color-secondary);
  position: relative;
  transform: translate(20em, -90%);
  background-color: var(--color-accent1);
  color: var(--color-white);
  padding: 1.25rem;
  text-align: left;
  font-size: 0.875rem;
  font-weight: lighter;
}

.about-container h4 {
  letter-spacing: 5px;
}

.album-release {
  font-weight: bold;
  letter-spacing: 2px;
}

/* SHOWS */
.shows {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

table {
  text-align: left;
  width: 70%;
  margin: 0 auto;
  font-weight: 300;
}
tr,
td {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
}

/* MERCH */
.cards {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 260px auto auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20ch), 1fr));
  gap: 1em;
  width: min(100ch, calc(100% - 2rem));
  margin: 0 auto;
}

.card {
  background-color: var(--color-white);
  display: grid;
  grid-row: span 3;
  grid-template-rows: subgrid;
  border: 1px solid #0002;
  box-shadow: 0.1em 0.1em 0.5em #0003;
  border-radius: 0.5em;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .card-title,
  .actions {
    padding-inline: 0.5em;
    margin: 0;
    font-family: "Norse", Verdana, sans-serif;
  }

  .card-title {
    font-size: 1.5em;
    letter-spacing: 0.25em;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    color: var(--color-accent1);
    button {
      all: unset;
      animation: 0.3s ease;
      padding: 0.1em 0.5em;
      border: 1px solid transparent;
      border-radius: 0.3em;
      cursor: pointer;
      &:hover {
        border: 1px solid currentcolor;
      }
      &:active {
        background-color: hsl(200, 78%, 41%);
        color: #f9f3ee;
        border: 1px solid #000;
      }
    }
    > * {
      padding: 0.1em 0.5em;
    }
  }
}

/* footer */

.footer {
  background: var(--color-dark);
  color: var(--color-secondary);
  text-align: center;
  padding: 1.5em 0;
}

.footer a {
  color: var(--color-accent2);
}

.footer__link:hover,
.footer-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0.75em 0 0;
  padding: 0;
}

.footer-list__item {
  margin: 0 0.5em;
}
