/* HERO HEADER */
.hero-header,
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.title {
  padding: 0 2em;
  margin-top: 6em;
  /* backdrop-filter: invert(80%); */
  /* backdrop-filter: sepia(90%); */
}

.title h1 {
  backdrop-filter: invert(80%);
  padding: 20px 70px;
  border: solid 2px var(--color-white);
}
.title h2 {
  font-weight: 400;
  color: var(--color-white);
}

.cover-img {
  background-image: url("/Echoforge/imgs/cover-album.png");
  background-position: center;
  background-size: cover;
  /* filter: blur(2px); */
}

/* NAV */
.nav-bar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav {
  display: flex;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: var(--color-accent2);
}

.nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: var(--color-accent);
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  &:hover {
    color: white;
    background: var(--color-secondary);
    transition: all 0.5s ease;
  }
}

/* FONT AWESOME ICONS */
.social-list__link:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

span {
  padding: 0 1em;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  color: var(--color-white);
  padding: 0.25em;
}

/* ABOUT SECTION */
.about-img {
  height: 35em;
  transform: translate(-10em, 0%);
}

.about-container {
  width: 30em;
  height: 41em;
  border: 2px solid var(--color-secondary);
  position: relative;
  transform: translate(20em, -90%);
  background-color: var(--color-accent1);
  color: var(--color-white);
  padding: 1.25em;
  text-align: left;
  font-size: 0.875em;
  font-weight: lighter;
}

.about-container h4 {
  letter-spacing: 5px;
}

.album-release {
  font-weight: bold;
  letter-spacing: 2px;
}

/* SHOWS */
.shows {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.section-p {
  margin: -1em 32em 4em 0;
}

table {
  text-align: left;
  width: 70%;
  margin: 0 auto;
}
tr,
td {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
}

/* MERCH */
.cards {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 260px auto auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20ch), 1fr));
  gap: 1em;
  width: min(100ch, calc(100% - 2rem));
  margin: 0 auto;
}

.card {
  background-color: var(--color-white);
  display: grid;
  grid-row: span 3;
  grid-template-rows: subgrid;
  border: 1px solid #0002;
  box-shadow: 0.1em 0.1em 0.5em #0003;
  border-radius: 0.5em;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .card-title,
  .actions {
    padding-inline: 0.5em;
    margin: 0;
    font-family: "Norse", Verdana, sans-serif;
  }

  .card-title {
    font-size: 1.5em;
    letter-spacing: 0.25em;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    color: var(--color-accent1);
    button {
      all: unset;
      animation: 0.3s ease;
      padding: 0.1em 0.5em;
      border: 1px solid transparent;
      border-radius: 0.3em;
      cursor: pointer;
      &:hover {
        border: 1px solid currentcolor;
      }
      &:active {
        background-color: hsl(200, 78%, 41%);
        color: #f9f3ee;
        border: 1px solid #000;
      }
    }
    > * {
      padding: 0.1em 0.5em;
    }
  }
}

.big {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  grid-template-rows: auto 1fr;
  .notes {
    padding: 0.5em;
  }
  h3 {
    padding-top: 0.5em;
  }
}

/* GIF */
.gif {
  background-image: url("/Echoforge/imgs/cover-vid.gif");
  background-position: center;
  background-size: cover;
}
